/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Product Categories Container Styles */
.productCategories {
    display: flex; 
    justify-content: space-between;
    padding:4px 0;
    background-color: #023a50;
    color: #fff;
    border-top: 0.01px solid #2b2828;
    border-bottom: 0.01px solid #b1a1fa;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Button Styles */
.productCategories button {
    font-family: Arial, sans-serif;
    display: inline-block;
    background-color: #b1a1fa;
    border: none;
    color: white;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 1.7vh;
    margin: 0.5vh 2vh 0px 8.4vw;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    min-width: 5.5vw;
}

/* Button Hover Effect */
.productCategories button:hover {
    background-color: #e6bfee;
}
#search-section {
    display: flex;
    align-items: center;
  }
  
  #search-section input[type="text"] {
    padding: 1.8vh 15px; 
    border: 1px solid #ccc;
    outline: none;
    border-radius: 15px ; 
    width: 25vw;
    height: 29.5px; 
    font-size: 2vh;
    color: #022929; 
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 1.7vh;
  }
  #search-section input[type="text"]:focus {
    border-color: #ff4800;
    background-color: aliceblue;
  }
  