#header {
    background-color: #022929;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h1 {
    margin: 0;
    font-size: 3vh 3vw;
  }
  h1 #pc{
    color: rgb(238, 234, 21);
    font-size: 3.4vh;
    font-family: 'Dancing Script', cursive;
  }


  
  
  
  .nav-section {
    display: flex;
    gap: 10px;
  }
  
  .nav-section button {
    font-size: 2vh;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.8s ease;
  }
  
  .nav-section button:hover {
    background-color: #dec1ff;
    box-shadow: 0px 0.3vh 1rem rgb(250, 186, 245);
    border-radius: 15px;
    color: rgb(196, 3, 170);
    text-decoration: none;
  }
  .nav-section button:hover Link{
    text-decoration: none;
  }